<div class="modal-head">
	<h2 class="h5">Cleansing and Standardization Rules</h2>
	<a type="button" class="close" (click)="onCloseClick()">
		<em class="la la-times"></em>
	</a>
</div>
<div class="content-wrapper">
	<!-- <div class="align-right">
		<a class="btn btn-success" (click)="onAdd()">Add</a>
    </div> -->
	<div class="filter-count bottom-space success" *ngIf="msg && msg!=''">{{msg}}</div>
	<perfect-scrollbar class="table-scroll box-shadow" style="height: 450px;">
		<div class="hide-div standard-tabel" *ngIf="!(dataSet && dataSet.length >0);">
			<div class="inner-content">
				<p class="icon"><em class="la la-exclamation-circle"></em> </p>
				<p class="h3">
					No such data found
				</p>
			</div>
		</div>
		<table class="default-table">
			<thead>
				<tr class="fix-header">
					<th *ngFor="let col of columns">{{col.displayName}}</th>
					<th>
						<a (click)="onFilter()" matTooltip="Filter Records" matTooltipPosition="above" matTooltipClass="tooltip-blue-below">
							<em class="icon-filter-rules-icon"></em>
						</a>
						<a (click)="onAdd()" matTooltip="Add New Rule" matTooltipPosition="above" matTooltipClass="tooltip-blue-below">
							<em class="la la-plus"></em>
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="showFilter">
					<td><input type="text" name="filterFromValue" [(ngModel)]="filterFromValue"></td>
					<td><input type="text" name="filterToValue" [(ngModel)]="filterToValue"></td>
					<td><input type="text" name="filterfield" [(ngModel)]="filterfield"></td>
					<td>
						<a class="btn-tick search" (click)="onFilterChange()" matTooltip="Search" matTooltipPosition="above"
						 matTooltipClass="tooltip-blue-below">
							<em class="la la-search"></em>
						</a>
						<a class="btn-tick" (click)="onResetFilter()" matTooltip="Reset Filter" matTooltipPosition="above"
						 matTooltipClass="tooltip-blue-below">
							<em class="la la-refresh"></em>
						</a>
					</td>
				</tr>
				<tr class="add-new" *ngIf="isAdd">
					<td>
						<div class="mat-wrap simple-inp" [class.error-field]="ValidationMsgs['fromValue'].isError == 1">
							<input id="addRow" type="text" name="fromValue" [(ngModel)]="fromValue">
							<div class="error-msg" *ngIf="ValidationMsgs['fromValue'].isError == 1">
								<em class="la la-exclamation-circle" [matTooltip]="ValidationMsgs['fromValue'].error" matTooltipPosition="above"
								 matTooltipClass="example-tooltip-red"></em>
							</div>
						</div>

					</td>
					<td>
						<div class="mat-wrap simple-inp" [class.error-field]="ValidationMsgs['toValue'].isError == 1">
							<input type="text" name="toValue" [(ngModel)]="toValue">
							<div class="error-msg" *ngIf="ValidationMsgs['toValue'].isError == 1">
								<em class="la la-exclamation-circle" [matTooltip]="ValidationMsgs['toValue'].error" matTooltipPosition="above"
								 matTooltipClass="example-tooltip-red"></em>
							</div>
						</div>

					</td>
					<td>
						<div class="mat-wrap" [class.error-field]="ValidationMsgs['field'].isError == 1">
							<mat-select [(ngModel)]="field" name="field" disableOptionCentering>
								<mat-option value="Street Address">Street Address</mat-option>
								<mat-option value="Zip Code">Zip Code</mat-option>
								<mat-option value="City">City</mat-option>
								<mat-option value="State">State</mat-option>
								<mat-option value="Country">Country</mat-option>
							</mat-select>
							<div class="error-msg" *ngIf="ValidationMsgs['field'].isError == 1">
								<em class="la la-exclamation-circle" [matTooltip]="ValidationMsgs['field'].error" matTooltipPosition="above"
								 matTooltipClass="example-tooltip-red"></em>
							</div>
						</div>
					</td>
					<td>
						<a (click)="onSave()" matTooltip="Save" matTooltipPosition="above" matTooltipClass="tooltip-blue-below">
							<em class="la la-check"></em>
						</a>
						<a (click)="onCancel()" matTooltip="Cancel" matTooltipPosition="above" matTooltipClass="tooltip-blue-below" class="red">
							<em class="la la-times"></em>
						</a>
					</td>
				</tr>
				<ng-container *ngFor="let row of dataSet">
					<ng-container>
						<ng-container *ngIf="isEdit && editRow.id == row.id; else nonEditRow">
							<tr class="add-new">
								<td>
									<div class="mat-wrap simple-inp" [class.error-field]="ValidationMsgs['fromValue'].isError == 1">
										<input type="text" name="fromValue" [(ngModel)]="editRow.fromValue">
										<div class="error-msg" *ngIf="ValidationMsgs['fromValue'].isError == 1">
											<em class="la la-exclamation-circle" [matTooltip]="ValidationMsgs['fromValue'].error" matTooltipPosition="above"
											 matTooltipClass="example-tooltip-red"></em> 
										</div>
									</div>
								</td>
								<td>
									<div class="mat-wrap simple-inp" [class.error-field]="ValidationMsgs['toValue'].isError == 1">
										<input type="text" name="toValue" [(ngModel)]="editRow.toValue">
										<div class="error-msg" *ngIf="ValidationMsgs['toValue'].isError == 1">
											<em class="la la-exclamation-circle" [matTooltip]="ValidationMsgs['toValue'].error" matTooltipPosition="above"
											 matTooltipClass="example-tooltip-red"></em> 
										</div>
									</div>

								</td>
								<td>
									<div class="mat-wrap" [class.error-field]="ValidationMsgs['field'].isError == 1">
										<mat-select [(ngModel)]="editRow.field" name="field" disableOptionCentering>
											<mat-option value="Street Address">Street Address</mat-option>
											<mat-option value="Zip Code">Zip Code</mat-option>
											<mat-option value="City">City</mat-option>
											<mat-option value="State">State</mat-option>
											<mat-option value="Country">Country</mat-option>
										</mat-select>
										<div class="error-msg" *ngIf="ValidationMsgs['field'].isError == 1">
											<em class="la la-exclamation-circle" [matTooltip]="ValidationMsgs['field'].error" matTooltipPosition="above"
											 matTooltipClass="example-tooltip-red"></em> 
										</div>
									</div>

								</td>

								<td>
									<a (click)="onSave(row)" matTooltip="Update" matTooltipPosition="above" matTooltipClass="tooltip-blue-below">
										<em class="la la-check"></em> 
									</a>
									<a (click)="onCancel(row)" class="red" matTooltip="Cancel" matTooltipPosition="above" matTooltipClass="tooltip-blue-below">
										<em class="la la-times"></em> 
									</a>
								</td>
							</tr>
						</ng-container>
						<ng-template #nonEditRow>
							<tr>
								<td *ngFor="let col of columns">
									{{row[col.id]}}
								</td>
								<td>
									<a (click)="onEdit(row)" matTooltip="Edit" matTooltipPosition="above" matTooltipClass="tooltip-blue-below"><i
										 class="la la-pencil"></em> </a>
									<a (click)="onDelete(row)" matTooltip="Delete" matTooltipPosition="above" matTooltipClass="tooltip-blue-below"><i
										 class="la la-trash-o"></em> </a>
								</td>

							</tr>
							<tr class="delete" *ngIf="isDelete && deleteRow.id == row.id">
								<td colspan="100%">
									<div class="warn-message align-left">
										<div class="container-fluid">
											<div class="row">
												<div class="col-sm-6 height-adj">
													<em class="la la-exclamation-circle red"></em> 
													Are you sure you want to delete?
												</div>
												<div class="col-sm-6 align-right">
													<a class="btn btn-white no-border" (click)="onDeleteCancel()">No</a>
													<a class="btn btn-white" (click)="onDeleteConfirm()">Yes</a>
												</div>
											</div>
										</div>

									</div>
								</td>
							</tr>
						</ng-template>
					</ng-container>
				</ng-container>
			</tbody>
		</table>
	</perfect-scrollbar>
	<!--PAGINATION-->
	<div class="container-fluid">
		<div class="row" *ngIf="dataSet && dataSet.length >0">
			<div class="col-sm-12">
				<div class="">
					<ul class="hide">
						<li *ngFor="let item of dataSet | paginate:{itemsPerPage: pageSize, currentPage:currentPage, totalItems: totalRecords}">
						</li>
					</ul>
					<pagination-controls class="page-item" maxSize="6" directionLinks="true" previousLabel="PREVIOUS" nextLabel="NEXT"
					 (pageChange)="currentPage = $event; pageChanged($event)"></pagination-controls>
				</div>
			</div>
		</div>
	</div>
</div>