<div class="body-wrapper">
  <div class="container-fluid">
    <h1 class="h2">Customer Data</h1>
    <div class="grid-wrapper">
      <div class="grid golden">
        <angular-slickgrid gridId="grid1"  gridHeight="400" [columnDefinitions]="columnDefinitions" [gridOptions]="gridOptions"
          [dataset]="dataset" (onAngularGridCreated)="angularGridReady($event)"
          (sgOnBeforeEditCell)="onBeforeEditCell($event.detail.eventData, $event.detail.args)"
          (sgOnSelectedRowsChanged)="onRowSelectionChange($event.detail.eventData, $event.detail.args)"
          (sgOnCellChange)="onCellChanged($event.detail.eventData, $event.detail.args)"
          (sgOnClick)="onCellClicked($event.detail.eventData, $event.detail.args)">
        </angular-slickgrid>
        <div class="row grid-head bottom">
          <div class="col-md-12 align-right">
            <a (click)="onCancel()" class="btn btn-primary">Cancel</a>
            <ng-container *ngIf="parentCount >0; else disbaledBtn">
                <a (click)="onSubmit()" class="btn btn-success">OK</a>
            </ng-container>
           <ng-template #disbaledBtn>
              <a class="btn btn-success disabled">OK</a>
           </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-aside [enableDedupe]="false" [enableGoldenRecord]="false" [enableHistory]="false" [enableManualReview]="false"
  [enableExport]="false">
</app-aside>

<app-confirm-dialog></app-confirm-dialog> 