<main id="main" class="white-bg">
  <section class="main-section">
    <div class="container-fluid  padding-left">
      <div class="row">
        <div class="col-sm-6">
          <div class="left-main">
            <div class="logo">
              <img src="../../../assets/images/AcuitySparkLogo-Final.png" alt="logo">
            </div>
            <div class="content-wrap">
              <h1 class="slogan">A conduct of 
                 <span> BUISNESS RELATIONSHIPS</span>
                  With your customers</h1>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="banner-right">
            <div>
              <img src="../../../assets/images/cm-vector-img.svg" alt="banner">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
