.golden-section {
  padding: 20px;
  margin-bottom: 15px;
  background: rgba($white , 0.7);
  
  .select-wrap { margin-bottom: 30px;}
  .sub-section {
    position: relative;
    background: $white;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.2);
    padding: 15px 20px;
    margin-bottom: 20px;
    .btn-header {
      display: block;
      background: none;
      border: none;
      width: 100%;
      text-align: left;
      font-weight: bold;
      i{ 
        font-size: 24px;
        color: $hover-blue;
        transition: all 0.5s;
      }
      &:focus { outline: none;}
      &.collapsed {
        i { 
          color: inherit;
          transform: rotate(180deg);
        }
      }
    }
    .collapse, .collapsing {
      margin-top: 20px;
      padding: 8px;
    }
    .header-dropdown {
      position: absolute;
      width: 200px;
      //z-index: 1;
      top: 0px;
      right: 60px;
    }
  }  
  .buttons {
    padding: 10px 0;
    text-align: right;
  }
}

.golden-steps {
  background: $white;
  margin-bottom: 10px;
  box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.2);
  padding: 12px 0px;
  ul {
    text-align: center;
    margin: 0;
    li { 
      display: inline-block;
      padding: 0 20px;
      span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        border-radius: 50%;
        width: 30px;
        color: #fff;
        padding-top: 4px;
        background: $hover-blue;
        height: 30px;
      }
      h2 { margin: 0;}
      &.completed {
        span { display: none}
        h2::before {
          content: "\f00c";
          font-family: 'fontawesome';
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          border-radius: 50%;
          width: 30px;
          color: #fff;
          padding-top: 5px;
          background: $progress;
          height: 30px;
        }
      }
    }
  }
}
