.ui-widget-content.slick-row.goldenRecord {
  .slick-cell { background: $odd !important;}
  .slick-cell.slick-cell-checkboxsel { 
    label {
      &::before {
        color: #31708F;
        opacity: 1;
      }
    }
  }
}
.ui-widget-content.slick-row.odd.goldenRecord {
  .slick-cell { color: $select;}
  .slick-cell.selected { background: $odd !important;}
}

.slickgrid-container .slick-row .slick-cell.active input.editor-text { color: $select;}

.subtable {
  height:35px !important;
  overflow: hidden;
  .slickgrid-container .grid-canvas .slick-cell { border: none;}
  .slick-cell { 
    border-right: none !important;
    min-width: 150px;
  }
  &:last-child { border-bottom: 1px solid $border-search;}
}

.slick-row .dynamic-cell-detail {
	padding: 0; 
	border: none;
  background: $white;
  overflow: hidden;
}

.ui-widget-content.slick-row.slick-group-totals { display: none;}

/* Golden Record Checkbox*/
.slick-cell.slick-cell-checkboxsel { 
  label { display: block !important;}
}

.slick-row .detail-view-toggle.expand:before { 
	display: block;
	color: $select;
}

.slick-row .detail-view-toggle.collapse:before { 
	display: block;
	color: $progress;
}

.checkbox,.checkbox-gold { text-align: center;}

.slick-cell.slick-cell-checkboxsel, .checkbox,.checkbox-gold {
  display: block;
  margin-bottom: 15px;
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }  
  label {
    position: relative;
    cursor: pointer;
  }  
  label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid $gray;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 7px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 3px;
  }  
  input + label:after {
    content: '';
    display: none;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 5px;
    height: 12px;
    border: solid $progress;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
} 

.slick-headerrow-column input[type=checkbox] + label:before, .slick-headerrow-column #filter-checkbox-selectall-container > input[type=checkbox] + label:before, .slick-column-name input[type=checkbox] + label:before, .slick-column-name #filter-checkbox-selectall-container > input[type=checkbox] + label:before, .slick-cell-checkboxsel input[type=checkbox] + label:before, .slick-cell-checkboxsel #filter-checkbox-selectall-container > input[type=checkbox] + label:before { content: ''!important;}

.goldenRecord {
  .slick-cell.slick-cell-checkboxsel {
    input + label:after { display: block;}
  }
  .checkbox-gold {
    input + label:after { display: block;}
  }
}
  .childRecord {
  .checkbox {
    input + label:after { display: block;}
  }
}

.slick-cell.l0.r0.slick-cell-checkboxsel.true { padding: 4px 6px;} 

/* Golden Record checkbox end*/

/* Golden Record Sub-Header*/

.slickgrid-container .grid-canvas .slick-cell .slick-group-toggle {
	&.expanded {
	  margin-right: 15px;
		&:before {
			font-size: 20px ;
			color: $progress;
		}
	}
	&.collapsed {
		margin-right: 15px;
		&:before {
			content: "\f106";
			font-size: 20px ;
		}
	}
}

.slick-group-title { font-weight: 500;}
.count {
	display: inline-block;
	padding: 0 9px !important;
	background: $progress;
	margin-right: 10px !important;
	color: $white;
	border-radius: 5px;
	font-weight: normal;
} 

.slick-cell.l0.r11.slick-cell-checkboxsel { background: $progress-bk;}

.ui-widget-content.slick-row.odd.slick-group.expanded {
	.slick-cell.l0.r11.slick-cell-checkboxsel { background: $progress-bk;}
}

.ui-widget-content.slick-row.odd.slick-group.collapsed ,.ui-widget-content.slick-row.even.slick-group.collapsed {
	.count { background-color: $select !important;}
	.slick-cell.l0.r11.slick-cell-checkboxsel { background: $white;}
}

.golden {
	.slickgrid-container .slick-header-columns .slick-header-sortable .slick-column-name { margin-left: 10px;}
}

/* Golden Details*/

/* Manual Review*/

.slick-row.active {
  .slick-cell { background: #fff !important;}
}
input[type=checkbox] + label:before { opacity: 1 !important;}

.slick-row:last-child { 
  .slick-cell{ border: 1px solid $border-search;}
}

.slickgrid-container .grid-canvas .slick-row.active { padding: 0;}
