.golden-section {
  padding: 20px;
  margin-bottom: 15px;
  background: $white;
  border-radius: 10px;
  .select-wrap { margin-bottom: 20px;}
  .buttons {
    padding: 20px 0;
    text-align: right;
  }
}