// body .slickgrid-container .slick-header-columns .slick-header-column.ui-state-default {
//   font-family: "Roboto", sans-serif;
//   line-height: 30px;
//   color: $blue;
//   background: $head-bg;
//   font-weight: 500 !important;
//   border-bottom: 1px solid $line !important;
//   border-right: none !important;
//   .slick-column-name {
//     margin-left: 7px;
//     height: 100%;
//     position: relative;
//     // width: 100%;
//     overflow: hidden;
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     &:hover {
//       &::before {
//         content: "\f0d8";
//         font-family: "fontAwesome";
//         position: absolute;
//         top: -2px;
//         right: 22px;
//         background: $head-bg;
//         color: $line;
//         width: 16px;
//       }
//       &::after {
//         content: "\f0d7";
//         font-family: "fontAwesome";
//         position: absolute;
//         top: 5px;
//         right: 22px;
//         width: 16px;
//         color: $line;
//       }
//     }
//   }
//   .slick-header-button { display: none;}
//   &:hover {
//     color: $hover-blue;
//     border-right: 1px solid $line !important;
//     .slick-column-name {
//       margin-left: 25px;
//       transition: all 0.5s;
//     }
//     .slick-header-button { display: block;}
//   }
//   &.header-select {
//     .slick-column-name {
//       color: $hover-blue;
//       margin-left: 25px;
//     }
//     .slick-header-button { display: block;}
//   }
//   .slick-sort-indicator {
//     color: $hover-blue;
//     &.slick-sort-indicator-desc {
//       top: 6px;
//       right: 5px;
//     }
//     &.slick-sort-indicator-asc {
//       top: -2px;
//       right: 5px;
//     }
//   }
// }
/*golden Header*/

// .ui-state-default.slick-header-column {
//   font-size: 14px !important;
//   font-weight: normal !important;
//   padding: 7px 0 0 0 !important;
//   border-right: 1px solid $border-search !important;
//   border-top: none !important;
//   border-bottom: none !important;
//   .slick-column-name { margin-left: 5px;}
// }

// .ui-state-default.slick-header-column.slick-header-sortable.ui-sortable-handle:last-child { border-right: none;}

// .slick-column-name {
//   margin: 0;
//   width: 100%;
// }

// body .slickgrid-container .grid-canvas {
//   .slick-cell {
//     line-height: 25px;
//     border-bottom: 1px solid $line;
//   }
//   .slick-row {
//     &:hover {
//       background: $hover-blue;
//       color: $white;
//       transition-duration: 0.8s;
//     }
//     &.odd {
//       &:hover {
//         background: $hover-blue;
//         color: $white;
//         transition-duration: 0.2s !important;
//       }
//     }
//   }
// }

// .slickgrid-container .grid-canvas .slick-cell {
//   border: none;
//   font-size: 13px;
//   &.active {
//     border: 1px solid $white;
//     border-top: none;
//     border-left: none;
//   }
// }

// .slickgrid-container .grid-canvas .slick-row {
//   &.odd { background: $white;}
// }

// .slick-header-column .slick-header-menubutton { display: inline-block;}

// .slick-header-menubutton:before {
//   content: "";
//   background-image: url("./assets/images/filter-rules-icon.svg");
//   width: 17px;
//   height: 17px;
//   display: block;
//   background-size: 17px;
//   background-repeat: no-repeat;
// }

// #slickGridContainer-grid1 {
//   width: 100% !important;
//   #grid1 { width: 100% !important;}
// }

// .slick-header-column .slick-header-menubutton {
//   display: block;
//   position: absolute;
//   left: 8px;
//   top: 18px;
// }

// .slickgrid-container .slick-viewport {
//   overflow: hidden;
//   &::-webkit-scrollbar {
//     width: 8px;
//     height: 8px;
//     background: $scroll-bg;
//   }
//   &::-webkit-scrollbar-thumb {
//     border-radius: 5px;
//     background-color: rgba($base-color, 0.5);
//   }
// }

// .slickgrid-container .slick-header-columns .slick-header-sortable .slick-column-name { margin-left: 30px;}
/*Grid Menu*/
// .slick-header-button {
//   position: absolute;
//   top: 4px;
//   left: 7px;
// }
/* default grid updation end*/
.grid-head {
  margin-bottom: 10px;
  &.bottom { margin-top: 10px;}
  .ngx-pagination { margin: 0;}
}

.customer-final {
  h2 {
    color: $blue;
    margin-bottom: 10px;
  }
  .slick-column-name {
    margin-left: 10px !important;
    &:hover {
      margin-left: 10px !important;
      &::before { display: none;}
      &::after { display: none;}
    }
  }
}
.header-select {
  .slick-header-button { color: $hover-blue;}
}
/* Rules pan*/
.grid-wrapper {
  .grid {
    background: $white;
    box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.2);
    height: calc(100vh - 250px);
    overflow: hidden;
    // #grid1 {
    //   width: 100% !important;
    //   height: calc(100vh - 250px) !important;
    // }
  }
  .fade-bg { display: none;}
  .history {
    color: $blue;
    background: $white;
    position: fixed;
    height: calc(100vh - 53px);
    width: 300px;
    top: 53px;
    right: -20px;
    bottom: 0;
    margin: 0 20px;
    z-index: 105;
    transition: all 0.5s;
    transform: translateX(150%);
    .history-checks {
      position: relative;
      padding-bottom: 75px;
      .check-wrap {
        display: flex;
        position: relative;
        .h6 { margin: 0;}
      }
      .effect {
        color: $blue;
        margin: 0;
        font-weight: 300;
        padding: 0 24px;
        transform: translateY(-10px);
      }
    }
    .history-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      .history-buttons {
        margin-bottom: 10px;
        text-align: right;
      }
      .reset-rule {
        background: $hover-blue;
        text-align: center;
        font-size: 12px;
        color: $hover-blue;
        padding: 8px 0;
        a {
          color: $white;
          font-size: 14px;
        }
      }
    }
    .mat-accordion .mat-expansion-panel {
      background: none;
      border-radius: 0;
      box-shadow: none;
      border-bottom: 1px solid $line;
      &.mat-expanded {
        background: rgba($hover-blue, 0.1);
      }
    }
    .mat-expansion-panel-body { padding: 0;}
    .bin {
      display: block;
      padding: 5px 23px;
      border-top: 1px solid $line;
      color: $orange;
    }
    .group-by {
      color: $blue;
      padding: 0 24px;
      .h6 { margin: 0;}
      ul {
        list-style-type: none;
        padding: 0;
        margin: 5px 0;
        li {
          &::before {
            content: "\f121";
            font-family: "LineAwesome";
            margin-right: 5px;
            color: $blue;
          }
        }
      }
    }
    .col-selection {
      height: calc(100vh - 93px);
      padding-bottom: 33px;
      position: relative;
      p,
      .cell {
        padding: 10px 24px;
        margin: 0;
        color: $base-color;
        border-bottom: 1px solid $line;
        .mat-wrap { padding: 5px 10px;}
      }
      .heading {
        padding: 15px 24px;
        border-bottom: 1px solid $line;
        border-top: 1px solid $line;
        font-weight: 500;
        color: $hover-blue;
        font-size: 14px;
        margin: 0;
      }
      .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        .save-rule {
          background: $hover-blue;
          text-align: center;
          font-size: 12px;
          color: $hover-blue;
          padding: 8px 0;
          a {
            color: $white;
            font-size: 14px;
            .icon {
              max-width: 12px;
              margin-right: 3px;
            }
          }
        }
      }
      .field-error {
        padding: 10px;
        margin: 2px 10px;
        border-radius: 8px;
        font-size: 12px;
        color: $white;
        background: rgba($red, 0.8);
        text-align: center;
      }
    }
    /*Tab settings*/
    .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination { display: none;}
    .mat-tab-label {
      min-width: 150px;
      height: 40px;
      background: $head-bg;
      &.mat-tab-label-active { color: $hover-blue;}
    }
    .mat-ink-bar {
      background: $hover-blue;
      height: 1px;
    }
  }
  &.grid-divide {
    .history { transform: translateX(0);}
    .fade-bg { display: block;}
    .reset-all { display: block;}
    .back { display: none;}
  }
  .mat-expansion-panel-header.mat-expanded:focus,
  .mat-expansion-panel-header.mat-expanded:hover { background: none;}
}
