/* Default Grid Updation*/
.slick-pane.slick-pane-header.slick-pane-left {
	background-color: #1F496A;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-size: 16px;
}

.ui-state-default.slick-header-column.slick-header-sortable.ui-sortable-handle {
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	padding: 13px 0 0 0;
	border: 1px solid $border-search;
}
body .slickgrid-container .slick-header-columns .slick-header-column.ui-state-default {
  line-height: 26px;
}
/*golden Header*/

.ui-state-default.slick-header-column {
  color: #fff !important;
	font-size: 14px !important;
	font-weight: normal !important;	
	padding: 7px 0 0 0 !important;
  border-right: 1px solid $border-search !important;
  border-top: none !important;
  border-bottom: none !important; 
  .slick-column-name { margin-left: 5px;}
}

.ui-state-default.slick-header-column.slick-header-sortable.ui-sortable-handle:last-child { border-right: none;}

.slick-column-name {
	margin: 0;
	width: 100%;  
}

body .slickgrid-container .grid-canvas .slick-cell { line-height: 25px;}

.slickgrid-container .grid-canvas .slick-cell { 
  border-right: 1px solid $border-search;
  font-size: 13px;
  &.active{ border: 1px solid $border-search;}

  &:first-child { border-left: 1px solid $border-search;}
  //&:last-child { border-right: 1px solid $border-search;}
}

.slickgrid-container .grid-canvas .slick-row {
	&.odd{	background: $white;}
}

.slick-header-column .slick-header-menubutton {	display: inline-block;}

.slick-header-menubutton:before { 
  content: '';
  background-image: url('./assets/images/filter-rules-icon.svg');
  width: 17px;
  height: 17px;
  display: block;
  background-size: 17px;
  background-repeat: no-repeat;
}

#slickGridContainer-grid1 {
  width: 100% !important;
	#grid1 { width: 100% !important;}
}

.slick-header-column .slick-header-menubutton {
  display: block;
  position: absolute;
  left: 8px;
  top: 18px;
}

.slickgrid-container .slick-viewport{
  overflow: hidden;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: $scroll-bg;
  }
  &::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color:$scroll;
  }
}

.slickgrid-container .slick-header-columns .slick-header-sortable .slick-column-name { margin-left: 30px;}
/* default grid updation end*/

.grid-head {
  margin-bottom: 10px;
  .pagination {
    .dropdown {
      .dropdown-toggle{
        //padding: 7px 20px;
        //color: $lightgrey;
        border-color: $select-border;
        &::after{
          color: $gray;
          font-size:18px;
          vertical-align: 2px;
        }
        &:hover {
          &::after{ color: $white;}
      }
      &:focus { outline: none;}      
      
    }
    p { margin: 0;}
    .dropdown-menu {
      right: 9px;
      top: -33px !important;
      left: -15px !important;
    }
    .dropdown-item {
      padding: 5px 20px;
      &:hover { color: $border-color;}
    }
  }
  .total {
    margin: 0;
    line-height: 31px;
    font-size: 14px;
    color: $lightgrey;
  }


    /*Old pagination*/
    // font-size: 18px;
    // p { color: $gray;}
    // ul {
    //   li {
    //     display: inline-block;
    //     list-style-type: none;
    //     padding: 0 10px;
    //     a {
    //       display: block;
    //       text-decoration: underline;
    //     }
    //   }
    // }

    &.bottom {
      .dropdown-menu {
        top: 0 !important;
        left: 0 !important;
      }
    }
  }
  .playlist-button {
    ul {
      border: 1px solid $btn-border;
      border-radius: 4px;
      display: inline-block;
      padding: 1px 0;
      background: $white;
      li {
        display: inline-block;
        list-style-type: none;
        padding: 0 10px;
        a {
          display: block;
          color: $blue;
          font-size: 14px;
          &:hover { color: $gray;}
          i {
            &:hover { color: $gray;}
          }
        }
      }
    }
    .export {
      border: 1px solid $btn-border;
      background: $white;
      color: $blue;
      padding: 4px 10px;
      margin: 5px;
      border-radius: 4px;
      font-size: 14px;
      i { padding-right: 5px;}
      &:hover {
        color: $white;
        background: $hover-blue;
        border-color: $border-color;
      }
    }
  } /////////

  .reset-all {
    padding: 20px;
    text-align: right;
    width: 100%;
    border-top: 1px solid $body-color;
    display: none;
  }
  .back {
    padding: 20px;
    text-align: right;
    width: 100%;
    border-top: 1px solid $body-color;
    text-align: left;
  }
  &.bottom { margin-top:30px;}
}

/*Modal Style*/

.modal-dialog {
  .modal-content {
    border-radius: 10px;
    border: none;
    .modal-body { padding: 0;}
    .select-wrap {
      display: flex;    
      padding: 10px 20px;
      align-items: center;
      select {
        flex: 1;
        width: 100%;
        padding: 10px;
        border-color:$drag-border;
        border-radius: 5px;
        background: $white;
        color: $select;
        &:focus { outline: none;}
      }
      option:disabled { color: $check-gray;}
      .input-percent {
        position: relative;
        input {
          margin: 0 15px;
          border-color:$drag-border;
          border-radius: 5px;
          padding: 12px;
          &::after {
            content: "\f295";
            color: $gray;
            font-family: 'FontAwesome';            
          }
        }
        i { 
          color: $gray;
          position: absolute;
          right: -4px;
          top: 16px;
        }
      }
      h5 { flex: 1;}
      .dropdown { flex: 4;}
    }
   button { opacity: 1;}
  }
  .modal-header {
    background: $progress;
    h4 {
      color: $white;
      font-weight: normal;
    }
  }
  .modal-footer {
    .btn-wrap {
      width: 100%;
      text-align: center;
      a { 
        color: $white;
        margin: 0 10px;
        cursor: pointer;
      }
    }
  }
}


/*Modal Style end*/

.grid-wrapper {
  //margin-bottom: 50px;
  .grid {
    background: $white;
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.2);
    overflow: hidden;
  }
  .history {
    display: none;
    margin: 0 20px;
    background: $white;
    position: relative;
    .head-history {
      border-bottom: 1px solid $body-color;
      padding: 10px 20px;
      h5 { margin-bottom: 5px;}
      a { float: right;}
    }
    .history-checks {
      position: relative;
      .check-wrap {
        display: flex;
        padding: 10px 20px 0 20px;
        p {
          font-size: 14px;
          padding-left: 5px;
          margin: 0;
        }
        .bin {
          margin: 0 5px;
          img { min-width: 16px;}
        }
      }     
    }
    .history-footer {
      position: absolute;
      background: $white;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      display: flex;
      flex-flow: row-reverse;
      padding: 10px 0px;      
    }
  }
  &.grid-divide {
    display: flex;
    .grid { flex: 3;}
    .slick-pane.slick-pane-header.slick-pane-left { border-radius: 10px 0 0 0;}
    .history {
      flex: 1;
      display: block;
    }
    .reset-all { display: block;}
    .back { display: none;}
  }
}

.body-wrapper {
  transition-property: padding;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  &.move { 
    padding-left : 230px;
    .grid-head .playlist-button .export { margin-left: 1px;}
  }
}

.slick-row.even , .slick-row.odd { background-color: $white !important ;}

.slick-row.even.active .slick-cell , .slick-row.odd.active .slick-cell { color : #52575A !important ;}


/*Grid Menu*/
.slick-header-button {
  position: absolute;
  top: 10px; 
  left: 7px;
}

.slick-header-menu {
  box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.2); 
  padding: 0;
    .dropdown {
      .dropdown-toggle { 
        padding: 4px 12px;
        width: 100% ;
        border: none;
        text-align: left;
        background: none;
        &::after { display: none;}
        &::before {
          position: absolute;
          top: 1px;
          right : 7px;
          content: "\f105";
          font-family: 'FontAwesome';
          font-size: 24px;
          color: $blue;
        }
        &:focus { outline: none;}
      }
      .dropdown-menu {
        left: 100% !important;
        top: -25px !important;
        border: none;
        box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.2);
        border-radius: 0;
      }
      &:hover {
        background: $blue-hover;
        color: $blue;
      }
    }
    &.hide { border: none;}
    &.show { border: none}
    .slick-header-menuitem{
      span{ 
        display: inline-block;
        padding-right: 5px;
        border-right: 1px solid $gray;
        color: $blue;
        font-weight: bold; 

      }
      .search {
        background: $blue-hover;
        padding: 3px 12px;
        i { 
          display: inline-block;
          vertical-align: middle;
        }
        i.search-icon::before {
          content: "";
          background-image: url('assets/images/search-icon.svg');
          background-size: 25px 20px;
          width: 25px;
          height: 20px;
          display: inline-block;
          background-repeat: no-repeat;
        }
        input {
          border: none;
          background: none;
          &:focus{ outline: none;}
        }

      }
      padding: 0;
      a { 
        padding: 4px 12px;
        &:hover {
          background: $blue-hover;
          color: $blue;
        }
      }
      &:hover { background: none;}
    }
}

