.header {
  padding-left: 50px;
  margin-bottom: 10px;
  .logo { 
    padding: 14px 0;
    a {
      display: inline-block !important;
      max-width: 166px !important;
    }
  }
  .search-form {
    background: white;   
    border-radius: 10px;

    legend { display: none;}
    fieldset {
      border: 1px solid $border-search;
      border-radius: 10px;
    }    
    .dropdown {
      width: 22%;
      position: relative;
      display: inline-block;
      color: $gray;      
      border-right: 1px solid $border-search;
      select {
        appearance: none;
        border: none;
        background: none;   
        padding: 20px 60px 20px 30px;
        &:focus{  outline: none;}
      }
      &::after{
        content: "\f0d7";
        font-family:'FontAwesome';
        position: absolute;
        top: 20px;
        right: 25px;
      }
    }
    .input-field {
      width: 69%;
      display: inline-block;
      vertical-align: middle;
      padding: 12px;
      .blue {
        color:$blue;
        font-weight: bold;
      }
      input {
        border: none;
        border-left: 1px solid $border-search;
        width: 90%;
        &:focus { outline: none;}
      }
    }
    button {
      border: none;
      background: none;
      font-size: 20px;
      color: $gray;
      &:focus{ outline: none;}
    }
  }
  .profile-info {
    padding: 14px 0;
    .profile-img {
      max-width: 50px;
      display: inline-block;
      border-radius: 50%;
      border: 1px solid;
      overflow: hidden;
    }
  }
  
}