.main-section {
  .left-main {
    .logo {
      img { max-width: 200px;}
    }
    padding: 20px 0 0 10px;
    .content-wrap {
      height: calc(100vh - 90px);
      @include parent();
      &::after { @include after();}
      &>* { @include childerns();}
      .login-content {
        width: 100%;
        h1 { margin-bottom: 40px;}
        .form-group {
          margin-bottom: 25px;
          .error-icon { display: none;}
        }
        .input-wrap {
          position: relative;
          border: 1px solid $gray;
          border-radius: 5px;
          input {
            border: none;
            border-radius: 5px;
            &:focus {
              outline: none;
              box-shadow: none;
            }
          }
          i { 
            position: absolute;
            right: 10px;
            top: 10px;
            color: $gray;
          }
        }
        .button-wrap {
          .remember {
            float: right;
            padding: 10px 0;
            color: $gray;
            font-size: 14px;
          }
        }
        &.error {
          .form-group{
          position: relative;
          .message {
            position: absolute;
            right: 0;
            padding: 5px 0px;
            color: red;
          }
          .input-wrap {
            border-color: red;
          }
          i { color: red;}
          .error-icon { 
            display: block;
            color: red;
          }
         }
        }
      }
    }
  }
  .banner-right{
    text-align: center;
    height: 100vh;
    background: $white;
    @include parent();
    &::after { @include after();}
    &>* { @include childerns();}
    img { max-width: 600px;}
  }
}