html { box-sizing: border-box;}
*, *:before, *:after {
	box-sizing: inherit;
}

* { max-height: 1000000px;}

body {
  color: #52575A;
  background-color: #F3F5F8;
  font-family: 'Roboto', sans-serif;
  //min-width: $base-min-width;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// adaptive images
img {
  max-width: 100%;
  height: auto;
}

// google map fix
.gm-style img {max-width: none}

.normal-right { padding-right: 0;}

.center { text-align: center;}

.create {
  color: $drag-border;
  font-size: 20px;
}
.normal { padding: 0;}

.gray { color: $gray;}

.line {
  display: block;
  background: $border;
  height: 1px;
  width: 111%;
  transform: translateX(-50px);
  }

.btn {
  padding: 7px 25px;
  border-radius: 0;
  border: none;
  font-size: 14px;
  min-width: 100px;
  border-radius: 5px;
}

.btn-success {
 // background: $progress;
 background: $hover-blue;
  &:hover{ background: $gray}
}

.btn-login {
  background: $blue;
  border-radius: 2px;
  padding: 10px 40px;
  color: $white !important;
  font-size: 14px;
  &:hover{ background: $gray;}
  &:focus{
    outline: none;
    box-shadow: none;
  }
}

.btn-primary {
  background: $gray;
  &:hover{ background: $lightgrey;}
}

.btn-danger { background: $red;}

.btn-grid {
  border: 1px solid #B0BAC5;
  background: #fff;
  color: $blue;
  padding: 4px 10px;
  margin: 0 5px;
  border-radius: 4px;  
  font-size: 14px;
  line-height: 20px;
  &:hover {
    color: $white !important;
    background: $hover-blue;
    border-color: $border-color;
  }
}
.white { background: $white;}

.body-color { background: $body-color;}

.align-right { text-align: right;}

.align-left { text-align: left;}

.light-blue { color: $light-blue}

*:hover { transition: all 0.4s;}

.even { background: $even !important;}

.menu {
  display: flex !important;
  padding-bottom: 0;
 .icon {
    display: inline-block;
    max-width: 62px;
    padding: 17px 10px;
    background: $hover-blue;
    cursor: pointer;
    img {
      max-width: 22px;
    }
  }
}

.odd { background: $odd;}

.selected { 
  background: $hover-blue !important;
  color: $white !important;
}

.on { 
  color: $progress !important;
  text-decoration: none !important;
}

.empty { border-color : $red !important;}

.move {
  &::before {
    content: "";
    background-image: url('assets/images/move.svg');
    background-repeat: no-repeat;
    background-size: 12px 14px;
    width: 12px;
    height: 14px;
  }
}

.slick-cell.cell-reorder:before {
  content: "";
    background-image: url('assets/images/move.svg');
    background-repeat: no-repeat;
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
    display: block;

}
.select-wrap {
  .dropdown { 
    width: 100%;
    font-size: 14px;
    .dropdown-toggle {
      width: 100%;
      text-align: left;
      padding: 6px 15px;
      background: $white;
      border: 1px solid $select-border;
      border-radius: 5px;    
      &::after {
        content: "";
        font-size: 20px;
        position: absolute;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        border-top: 0.3em solid;
        right: 21px;
        top: 16px;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        color: $select-border;
      }
      &.inner {
        border: none;
        color: $select;
      }
      &:focus { outline: none;}
    }
    .dropdown-menu.show {
      right: 0;
      top: -50px !important;
      box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.2);
      border-color: $select-border;
      font-size: 14px;
    }
    input { 
      border-radius: 5px;
      border-color: $select-border;
      &:focus { box-shadow: none;}
    }
  } 
}


/* Drop down End*/
/*Modal Style*/

.modal-dialog {
  .modal-header {
    background: $progress;
    padding: 10px;
    h4 {
      color: $white;
      font-weight: normal;
      font-size: 16px;
      margin: 0;
    }
    button { 
      opacity: 1;
      width: 48px;
      padding: 14px;
     }
  }
  .modal-content {
    border-radius: 10px;
    border: none;
    .modal-body { padding: 0;}
    .select-wrap {
      display: flex;    
      padding: 10px 20px;
      align-items: center;
      select {
        flex: 1;
        width: 100%;
        padding: 10px;
        border-color:$drag-border;
        border-radius: 5px;
        background: $white;
        color: $select;
        &:focus { outline: none;}
      }
      option:disabled { color: $check-gray;}
      .input-percent {
        position: relative;
        input {
          margin: 0 15px;
          border-color:$select-border;
          border-radius: 5px;
          padding: 7px;
          &::after {
            content: "\f295";
            color: $border;
            font-family: 'FontAwesome';            
          }
        }
        i { 
          color: $border;
          position: absolute;
          right: -4px;
          top: 8px;
        }
      }
      h5 { 
        flex: 1;
        font-size: 14px;
        &.hide{
          margin-left: 15px;
        }
      }
      .h6 { margin: 0;}
      .dropdown { flex: 4;}
    }
  }
  
  .modal-footer {
    .btn-wrap {
      width: 100%;
      text-align: center;
      a { 
        color: $white;
        margin: 0 5px;
        cursor: pointer;
      }
    }
  }
}

/*Modal Style end*/
.hide  { display: none;}

.precision {
  h5 { flex: 2.5}
  h5.hide { 
    display: block;
    flex: 1;
  }
}

.error {
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  color: $red;
} 

.auto { margin: 0 auto;} 

.badge {
  margin-top: 4px;
  background: $hover-blue;
  color: $white;
  font-weight: 100;
  font-size: 10px;
}
.right {
  top:-25px !important;
  left:100% !important;
}
.left {
  top:-25px !important;
  left:-80% !important;
}