html { box-sizing: border-box;}
*, *:before, *:after {
	box-sizing: inherit;
}

* { max-height: 1000000px;}

body {
  color: #52575A;
  background-color: #F3F5F8;
  font-family: 'Roboto', sans-serif;
  //min-width: $base-min-width;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// adaptive images
img {
  max-width: 100%;
  height: auto;
}

// google map fix
.gm-style img {max-width: none}

.normal-right { padding-right: 0;}

.center { text-align: center;}

.create {
  color: $lightgrey;
  font-size: 20px;
}
.normal { padding: 0;}

.gray { color: $gray;}

.line {
  display: block;
  background:  $drag-border;
  height: 1px;
  width: 111%;
  transform: translateX(-50px);
  }

.btn {
  padding: 15px 50px;
  border-radius: 0;
  border: none;
}

.btn-success {
  background: $progress;
  &:hover{ background: $gray}
}

.btn-login{
  background: $blue;
  border-radius: 2px;
  padding: 10px 40px;
  color: $white;
  font-size: 14px;
  &:hover{ background: $gray;}
  &:focus{
    outline: none;
    box-shadow: none;
  }
}

.btn-primary {
  background: $gray;
  &:hover{ background: $lightgrey;}
}

.btn-grid {
  border: 1px solid #B0BAC5;
  background: #fff;
  color: $blue;
  padding: 2px 10px;
  margin: 0 5px;
  border-radius: 4px;  
  font-size: 16px;
  line-height: 20px;
  &:hover {
    color: $white;
    background: $blue;
    border-color: $blue;
  }
}
.white { background: $white;}

.body-color { background: $body-color;}

.align-right { text-align: right;}

.align-left { text-align: left;}

.light-blue { color: $light-blue}

*:hover { transition: all 0.4s;}

@media (min-width: 997px){
  .modal-dialog { max-width: 800px;}
}

.even { background: $even !important;}

.menu {
  display: inline-block;
  background: $blue;  
  padding: 10px;
  padding-bottom: 25px;
 .icon {
    display: inline-block;
    max-width: 62px;
    padding: 10px 0;
    span {
      display: block;
      background: $white;
      height: 2px;
      width: 22px;
      border-radius: 5px;
      margin-bottom: 5px;
      &:last-child{ margin-bottom: 0;}
    }
  }
}

.odd { background: $odd;}