<div class="modal-dialog">
  <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Pick Criteria for Sorting/Grouping</h4>
      <button type="button" class="close" data-dismiss="modal"><img src="../../../assets/images/Close.svg" alt="close-btn"></button>
    </div>
    <!-- Modal body -->
    <div class="modal-body">      
      <div class="select-wrap" >
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{SelectedColumnName == -1 ? 'Select Field' : SelectedColumnName}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <perfect-scrollbar style="max-height: 200px"> 
              <button class="dropdown-item" type="button" *ngFor="let field of targetFields" (click)="storeFieldType(field)">{{field}}</button>
            </perfect-scrollbar>
          </div>
        </div>
        <!-- <select [(ngModel)]="SelectedColumnName">
          <option value="-1">Select Field</option>
          <option *ngFor="let field of targetFields" [value]="field" >{{field}}</option>
        </select> -->
      </div>    
    </div>
    <!-- Modal footer -->
    <div class="modal-footer">
      <div class="btn-wrap">
        <a class="btn btn-primary" data-dismiss="modal">CANCEL</a>
        <a class="btn btn-success" data-dismiss="modal" (click)="onSubmit()">OK</a>
      </div>
    </div>
  </div>
</div>