<div class="modal-dialog">
  <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Choose upto four Comparison Fields</h4>
      <button type="button" class="close" data-dismiss="modal"><img src="../../../assets/images/Close.svg" alt="close-icon"></button>
    </div>
    <!-- Modal body -->
    <div class="modal-body">
      <div class="select-wrap even">
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{selectedMatchType}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-toggle inner" disabled>Choose the  Precision Type</button>
            <button class="dropdown-item" type="button" *ngFor="let type of matchTypes;" (click)="storeMatchType(type)">{{type}}</button>
          </div>
        </div>
        <!-- <select class="even" [(ngModel)]="selectedMatchType" >
          <option [value]="type" *ngFor="let type of matchTypes">{{type}}</option>
           <option value="Similarity">Similarity Match</option> -->
        <!-- </select> -->
      </div>
      <div *ngIf="selectedMatchType === 'Similarity'">
        <div class="select-wrap light-blue-bg">
          <h5>Select Group/Sorting field</h5>
        </div>
        <div class="select-wrap">
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{selectedGroupSortType}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-item" type="button" *ngFor="let field of targetFields" [disabled]="selectedGroupSortType===field" (click)="storeGroupStoreType(field)">{{field}}</button>
            </div>
          </div>
          <!-- <select [(ngModel)]="selectedGroupSortType">
            <option value="">Select Field</option>
            <option [value]="field" *ngFor="let field of targetFields" [disabled]="selectedGroupSortType===field">
              {{field}}</option>
          </select> -->
        </div>
      </div>
      <div class="select-wrap light-blue-bg" [class.precision]="selectedMatchType === matchTypeEnum.Similarity">
        <h5>Customer Field </h5>
        <h5 class="hide">Precision Value</h5>
      </div>
      <ng-container *ngIf="selectedMatchType === 'Exact'">
        <div class="select-wrap" *ngFor="let col of dedupColumns;let i=index">
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{col.ColumnName ? col.ColumnName : 'Select field'}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">              
              <button class="dropdown-item" type="button" *ngFor="let field of targetFields" [disabled]="isSelectedField(field)" (click)="storeExactCustomerField(field)">{{field}}</button>
            </div>
          </div>
          <!-- <select [(ngModel)]="col.ColumnName">
            <option value="">Select Field</option>
            <option *ngFor="let field of targetFields" [value]="field" [disabled]="isSelectedField(field)">{{field}}
            </option>
          </select> -->
          <!-- <div class="input-percent" *ngIf="selectedMatchType == matchTypeEnum.Similarity">
            <input type="text" [(ngModel)]="col.Similarity" >
            <i class="fa fa-percent" aria-hidden="true"></i>
          </div> -->
        </div>
      </ng-container>
      <ng-container *ngIf="selectedMatchType === matchTypeEnum.Similarity">
        <div class="select-wrap" *ngFor="let col of similartyColumns;">
          <!-- class removed for background change >> [class.even]="selectedMatchType == matchTypeEnum.Similarity"-->
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{col.ColumnName ? col.ColumnName : 'Select field'}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-item" type="button" *ngFor="let field of targetFields" [disabled]="isSelectedSortField(field)" (click)="storeSimilarityCustomerField(field)">{{field}}</button>
            </div>
          </div>
          <!-- <select [(ngModel)]="col.ColumnName">
            <option value="">Select Field</option>
            <option *ngFor="let field of targetFields" [value]="field" [disabled]="isSelectedSortField(field)">{{field}}
            </option>
          </select> -->
          <div class="input-percent" *ngIf="selectedMatchType == matchTypeEnum.Similarity">
            <input type="text" [(ngModel)]="col.ColumnValue">
            <i class="fa fa-percent" aria-hidden="true"></i>
          </div>
        </div>
      </ng-container>
    </div>
    <!-- Modal footer -->
    <div class="modal-footer even">
      <div class="btn-wrap">
        <a class="btn btn-success" data-dismiss="modal" (click)="onSubmit()">OK</a>
        <a class="btn btn-primary" data-dismiss="modal">CANCEL</a>
      </div>
    </div>
  </div>
</div>
