<div class="modal-dialog">
  <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Golden Customer Selection fields</h4>
      <button type="button" class="close" data-dismiss="modal"><img src="../../../assets/images/close-white-icon.svg"
          alt="close-btn"></button>
    </div>
    <!-- Modal body -->
    <ng-container>
      <div class="modal-body">
        <ng-container *ngIf="showNextStep === false">
          <div class="error" *ngIf='errorStep1'>{{errorStep1}}</div>
          <div class="select-wrap even">
            <h4 class="h6">Select Customer Fields</h4>
          </div>
          <div class="select-wrap" [class.even]="i%2==1" *ngFor="let col of selectedColumns;let i=index">
            <div class="dropdown">
              <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{col ? col : 'Select field'}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <perfect-scrollbar style="height: 200px;">
                <button class="dropdown-item" type="button" *ngFor="let field of targetFields"
                [disabled]="isSelectedField(field)" (click)="storeSelectedField(field)">{{field}}</button>
              </perfect-scrollbar>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="showNextStep === true">
          <perfect-scrollbar style="height: 300px">

            <div class="error" *ngIf='errorStep2'>{{errorStep2}}</div>
            <!-- <div class="select-wrap even">
              <h4 class="h5">Choose Golden Record Criteria</h4>
            </div> -->
            <div *ngFor="let col of targetFields;let i=index">           
                <div class="select-wrap" [class.even]="i%2==1">
                  <h5>{{col}}</h5>
                  <div class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      {{getSelectedValue(col)}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <button class="dropdown-item" type="button" *ngFor="let value of valueFields"
                        (click)="storeSelectedValue(col,value)">{{value}}</button>
                    </div>
                  </div>
                </div>
              
            </div>
          </perfect-scrollbar>
        </ng-container>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="btn-wrap" *ngIf="showNextStep === false">
          <a class="btn btn-success" (click)="onSubmitShow()">NEXT</a>
          <a class="btn btn-primary" data-dismiss="modal">CANCEL</a>
        </div>
        <div class="btn-wrap" *ngIf="showNextStep === true">
          <a class="btn btn-primary" (click)="showNextStep = !showNextStep">BACK</a>
          <a class="btn btn-success" (click)="onSubmitFinal()">ADD</a>
          <a class="btn btn-primary" #closeModal data-dismiss="modal">CANCEL</a>
        </div>
      </div>
    </ng-container>

  </div>
</div>
