


<div class="modal-dialog">
  <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Golden Customer Selection fields</h4>
      <button type="button" class="close" data-dismiss="modal"><img src="../../../assets/images/close-white-icon.svg" alt="close-btn"></button>
    </div>

    <!-- Modal body -->
    <ng-container *ngIf="showModal === false">
      <div class="modal-body">
        <div class="select-wrap" [class.even]="i%2==1" *ngFor="let col of SelectedColumnName;let i=index">
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{col.ColumnName ? col.ColumnName : 'Select field'}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-item" type="button" *ngFor="let field of targetFields"
                [disabled]="isSelectedField(field)" (click)="storeSelectedField(field)">{{field}}</button>
            </div>
          </div>
        </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="btn-wrap">
          <a class="btn btn-success" (click)="onSubmitShow()">OK</a>
          <a class="btn btn-primary" data-dismiss="modal">CANCEL</a>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="showModal === true">
      <div class="modal-body">
        <table class="table table-bordered">
          <tr *ngFor="let col of SelectedColumnName;let i=index">
            <ng-container *ngIf="col.ColumnName != ''">
              <td>{{col.ColumnName}}</td>
              <td>
                <div class="select-wrap" [class.even]="i%2==1">
                  <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  {{col.ColumnValue ? col.ColumnValue : 'Select One'}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button class="dropdown-item" type="button" *ngFor="let value of valueFields" (click)="storeSelectedValue(col.ColumnName,value.value)">{{value.value}}</button>
                </div>
              </div>
              </div>
              </td>
            </ng-container>
          </tr>
      </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="btn-wrap">
          <a class="btn btn-success" data-dismiss="modal" (click)="onSubmitFinal()">OK</a>
          <a class="btn btn-primary" data-dismiss="modal">CANCEL</a>
        </div>
      </div>
    </ng-container>
  </div>
</div>