<aside class="aside-fixed">
  <div class="sidebar left fliph" id="sidebar">
    <div class="menu" (click)="toggleMenu()">
      <div class="icon">
        <img src="../../../assets/images/burger-menu.svg" alt="menu-icon">
      </div>      
    </div>
    <ul class="list-sidebar bg-defoult">      
      <li>
        <a routerLink="/customer/data" class="collapsed active" title="Home">
          <img src="../../../assets/images/home-icon-w.svg" alt="Home-Icon" class="icon-img">
          <span class="nav-label">Home</span>
        </a>
      </li>
       <li>
         <a routerLink="/customer/import" title="Import">
          <img src="../../../assets/images/import-icon-w.svg" alt="Import-icon" class="icon-img">
          <span class="nav-label">Import Data</span>
        </a> 
      </li> 
      <li>
        <ng-container *ngIf='enableDedupe ;else disableDedup'>
          <a (click)="dedupClick()">
            <img src="../../../assets/images/dedupe-icon-w.svg" alt="Dedupe-icon" class="icon-img">
            <span class="nav-label">Deduplication</span>
          </a>
        </ng-container>
        <ng-template #disableDedup>
          <a class="disable">
            <img src="../../../assets/images/dedupe-icon-w.svg" alt="Dedupe-icon" class="icon-img">
            <span class="nav-label">Deduplication</span>
          </a>
        </ng-template>
      </li>
      <li>
        <ng-container *ngIf='enableGoldenRecord ;else disableGolden'>
          <a (click)="goldenRuleClick()" title="Golden Record">
            <img src="../../../assets/images/golden-icon-w.svg" alt="GoldenRecord-icon" class="icon-img">
            <span class="nav-label">Golden Record</span>
          </a>
        </ng-container>
        <ng-template #disableGolden>
          <a class="disable"  title="Golden Record">
              <img src="../../../assets/images/golden-icon-w.svg" alt="GoldenRecord-icon" class="icon-img"> 
            <span class="nav-label">Golden Record</span>
          </a>
        </ng-template>
      </li>
      <!-- <li> <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Tables</span></a></li> -->
      
      <li>
        <ng-container *ngIf='enableManualReview ;else disableManual'>
          <a (click)="manualReviewClick()" title="Manual Review">
            <img src="../../../assets/images/manual-review-icon-w.svg" alt="ManualReview-Icon" class="icon-img">
            <span class="nav-label">Manual Review</span>
          </a>
        </ng-container>
        <ng-template #disableManual>
          <a class="disable" title="Manual Review">
            <img src="../../../assets/images/manual-review-icon-w.svg" alt="ManualReview-Icon" class="icon-img">
            <span class="nav-label">Manual Review</span> 
          </a>
        </ng-template>
      </li>
      <li>
        <ng-container *ngIf='enableExport ;else disableExport'>
          <a (click)="exportClick()" title="Export">
            <img src="../../../assets/images/export-icon-w.svg" alt="Export-icon" class="icon-img">
            <span class="nav-label">Export</span>
          </a>
        </ng-container>
        <ng-template #disableExport>
          <a class="disable" title="Export">
            <img src="../../../assets/images/export-icon-w.svg" alt="Export-icon" class="icon-img">
            <span class="nav-label">Export</span>
          </a>
        </ng-template>
      </li>
      <li>
        <ng-container *ngIf='enableHistory ;else disableHistory'>
          <a (click)="historyClick()"  title="Rules">
            <img src="../../../assets/images/rules-icon.svg" class="icon-img" alt="icon">
            <span class="nav-label">Rules</span>
          </a>
        </ng-container>
        <ng-template #disableHistory>
          <a class="disable" title="Rules">
            <img src="../../../assets/images/rules-icon.svg" class="icon-img" alt="icon">
            <span class="nav-label">Rules</span>
          </a>
        </ng-template>
      </li>
      <li> 
        <a href="#" data-toggle="collapse" data-target="#products" class="collapsed"> 
          <img src="../../../assets/images/archive-icon.svg" class="icon-img" alt="icon">
          <span class="nav-label">Archived Rules <i class="fa fa-angle-right pull-right" aria-hidden="true"></i> <span class="badge badge-light pull-right ">4</span></span>
        </a>
        <ul class="sub-menu collapse" id="products" *ngIf="archivedRules$ | async as archivedRules">
          <li *ngFor="let rule of archivedRules">
            <a (click)="archiveRuleClick(rule)">
              <!-- <i class="icon-archive-rules-icon"></i> -->
              <span class="fliph-content">{{rule.Name}}</span>
            </a>
          </li> 
          <!-- <li><a href="#"><i class="icon-archive-rules-icon"></i><span class="fliph-content">Project Code</span></a>
          </li> -->
        </ul>
      </li>
      <li>
        <a  routerLink="/customer/final" title="show">
          <i class="fa fa-cart-plus" aria-hidden="true"></i> 
          <span class="nav-label">Final Records</span>
        </a> 
       </li> 
      <li>
        <a (click)="toggleMenu()" id="collapse_menu" title="Collapse">
          <i class="icon-Collapse"></i>
          <span class="nav-label">Collapse</span>
        </a> 
      </li>
    </ul>
  </div>
</aside>
