<aside class="aside-fixed">
  <div class="sidebar left fliph" id="sidebar">
    <ul class="list-sidebar bg-defoult">
      <li>
        <div class="menu" (click)="toggleMenu()">
          <div class="icon">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <span class="nav-label">
            <div class="logo">
              <img src="../../../assets/images/as-logo.png" alt="logo">
            </div>
          </span>
        </div>
      </li>
      <li> <a routerLink="/customer/data" class="collapsed active"><i class="icon-home-icon"></i><span
            class="nav-label">Home</span></a></li>
      <li> <a disable><i class="icon-import-data-icon"></i> <span class="nav-label">Import Data</span></a> </li>
      <li>
        <ng-container *ngIf='enableDedupe ;else disableDedup'>
          <a (click)="dedupClick()"><i class="icon-duplicate-icon"></i> <span class="nav-label">Deduplication</span></a>
        </ng-container>
        <ng-template #disableDedup>
          <a disable><i class="icon-duplicate-icon"></i> <span class="nav-label">Deduplication</span></a>
        </ng-template>

      </li>
      <li>
        <ng-container *ngIf='enableGoldenRecord ;else disableGolden'>
          <a (click)="goldenRuleClick()"><i class="icon-golden-record-icon"></i> <span class="nav-label">Golden
              Record</span></a>
        </ng-container>
        <ng-template #disableGolden>
          <a disable><i class="icon-golden-record-icon"></i> <span class="nav-label">Golden Record</span></a>
        </ng-template>

      </li>
      <!-- <li> <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Tables</span></a></li> -->
      <li>
        <ng-container *ngIf='enableHistory ;else disableHistory'>
          <a (click)="historyClick()"><i class="icon-history-icon"></i> <span class="nav-label">History</span></a>
        </ng-container>
        <ng-template #disableHistory>
          <a disable><i class="icon-history-icon"></i> <span class="nav-label">History</span></a>
        </ng-template>

      </li>
      <li>
        <ng-container *ngIf='enableManualReview ;else disableManual'>
          <a (click)="manualReviewClick()"><i class="icon-manual-review-icon"></i> <span class="nav-label">Manual
              Review</span>
          </a>
        </ng-container>
        <ng-template #disableManual>
          <a disable><i class="icon-manual-review-icon"></i> <span class="nav-label">Manual Review</span> </a>
        </ng-template>

      </li>
      <li>
        <ng-container *ngIf='enableExport ;else disableExport'>
          <a (click)="exportClick()"><i class="icon-export-icon"></i> <span class="nav-label">Export</span></a>
        </ng-container>
        <ng-template #disableHistory>
          <a disable><i class="icon-export-icon"></i> <span class="nav-label">Export</span></a>
        </ng-template>
      </li>
      <li> <a (click)="toggleMenu()" id="collapse_menu"><i class="icon-collapse-window-icon"></i> <span
            class="nav-label">Collapse</span></a> </li>
    </ul>
  </div>
</aside>
