<div class="body-wrapper">
  <div class="container-fluid">
    <!-- <h1 class="h2">Golden Records</h1> -->
    <div class="error">{{errorStep1}}</div>

    <div class="golden-section">
      <div class="select-wrap">
        <h2 class="h5">Select Grouping Fields </h2>
      </div>
      <div class="row">
        <div class="select-wrap col-sm-6" *ngFor="let col of selectedColumns;let i=index">
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{col ? col : 'Select field'}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <perfect-scrollbar style="max-height: 200px;">
                  <button class="dropdown-item" type="button" 
                  (click)="removeSelectedField(col)">Reset</button>
                <button class="dropdown-item" type="button" *ngFor="let field of goldenCustFields"
                  [disabled]="isSelectedField(field)" (click)="storeSelectedField(field, i)">{{field}}</button>
              </perfect-scrollbar>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="error" *ngIf='errorStep2'>{{errorStep2}}</div>
    <!-- <div class="select-wrap even">
    <h4 class="h5">Choose Golden Record Criteria</h4>
  </div> -->
    <div class="golden-section">
      <div class="row">
        <div class="col-sm-3" *ngFor="let col of goldenCustDetailFields;let i=index">
          <div class="select-wrap">
            <!--  [class.even]="i%2==1" -->
            <h3 class="h5">{{col}}</h3>
            <div class="dropdown">
              <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{getSelectedValue(col)}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" type="button" *ngFor="let value of valueFields"
                  (click)="storeSelectedValue(col,value)">{{value}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <a class="btn btn-primary">CANCEL</a>
        <a class="btn btn-success" (click)="onSubmitFinal()">OK</a>
      </div>
    </div>

  </div>
</div>

<app-aside [enableDedupe]="false" [enableGoldenRecord]="false" [enableHistory]="false" [enableManualReview]="false"
  [enableExport]="false"></app-aside>
<ngx-loading-bar></ngx-loading-bar>
