<div class="body-wrapper">
  <div class="container-fluid">
    <div class="error" *ngIf='errorStep2'>{{errorStep2}}</div>
    <div class="golden-steps">
      <ul>
        <li class="completed">
          <h2 class="h5"><span>1</span>Personal Information</h2>
        </li>
        <li>
          <h2 class="h5"><span>2</span>Contact Information </h2>
        </li>
        <li>
          <h2 class="h5"><span>3</span>Other Information</h2>
        </li>
      </ul>
    </div>
    <div class="golden-section">
      <div class="sub-section">
        <button type="button" class="btn-header collapsed" data-toggle="collapse" data-target="#demo">Personal
          Information <i class="fa fa-angle-up pull-right" aria-hidden="true"></i></button>
        <div class="select-wrap header-dropdown">
          <h3 class="h5"></h3>
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{defaultValue}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-item" type="button" *ngFor="let value of valueFields"
                (click)="setPersonalDefaultValue(value)">{{value}}</button>
            </div>
          </div>
        </div>
        <div class="row collapse" id="demo">
          <div class="col-sm-3" *ngFor="let col of personalInfoFields;let i=index">
            <div class="select-wrap">
              <!--  [class.even]="i%2==1" -->
              <h3 class="h5">{{col}}</h3>
              <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  {{getSelectedValue(col)}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button class="dropdown-item" type="button" *ngFor="let value of valueFields"
                    (click)="storeSelectedValue(col,value)">{{value}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sub-section">
        <button type="button" class="btn-header collapsed" data-toggle="collapse" data-target="#demo1">Contact
          Information <i class="fa fa-angle-up pull-right" aria-hidden="true"></i></button>
        <div class="select-wrap header-dropdown">
          <h3 class="h5"></h3>
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{defaultValue}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-item" type="button" *ngFor="let value of valueFields"
                (click)="setContactDefaultValue(value)">{{value}}</button>
            </div>
          </div>
        </div>
        <div class="row collapse" id="demo1">
          <div class="col-sm-3" *ngFor="let col of contactInfoFields;let i=index">
            <div class="select-wrap">
              <!--  [class.even]="i%2==1" -->
              <h3 class="h5">{{col}}</h3>
              <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  {{getSelectedValue(col)}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button class="dropdown-item" type="button" *ngFor="let value of valueFields"
                    (click)="storeSelectedValue(col,value)">{{value}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sub-section">
        <button type="button" class="btn-header collapsed" data-toggle="collapse" data-target="#demo2">Other Information
          <i class="fa fa-angle-up pull-right" aria-hidden="true"></i></button>
        <div class="select-wrap header-dropdown">
          <h3 class="h5"></h3>
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{defaultValue}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-item" type="button" *ngFor="let value of valueFields"
                (click)="setOtherDefaultValue(value)">{{value}}</button>
            </div>
          </div>
        </div>
        <div class="row collapse" id="demo2">
          <div class="col-sm-3" *ngFor="let col of otherFields;let i=index">
            <div class="select-wrap">
              <!--  [class.even]="i%2==1" -->
              <h3 class="h5">{{col}}</h3>
              <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  {{getSelectedValue(col)}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button class="dropdown-item" type="button" *ngFor="let value of valueFields"
                    (click)="storeSelectedValue(col,value)">{{value}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <a class="btn btn-primary" (click)="onCancel()">CANCEL</a>
        <a class="btn btn-success" (click)="onSubmitFinal()">OK</a>
      </div>
    </div>
  </div>
</div>

<app-aside [enableDedupe]="false" [enableGoldenRecord]="false" [enableHistory]="false" [enableManualReview]="false"
  [enableExport]="false"></app-aside>
<ngx-loading-bar></ngx-loading-bar>
