<ng-container>
  <div class="m-dropzone row">
    <form class="m-dropzone_inner dropzone col-lg-12" [id]="element_Id">
      <div class="dz-message needsclick drop-area">
        <h2>You can upload CSV file</h2>
        <p class="create">Click on the Button or Drag & Drop file here</p>
        <p class="fake-btn"><i class="icon-UploadFile" aria-hidden="true"></i>UPLOAD FILE</p>
        <!-- <h3 class="m-dropzone__msg-title">
          <div class="drag-here">
            <img src="../../../assets/images/upload.svg" alt="upload">
            <p class="create">Drag your file</p>
          </div>
        </h3> -->
      </div>
    </form>
  </div>
</ng-container>
<!-- <ng-template #smallDZ>
    <div class="m-dropzone smallDropzone">
        <form [id]="element_Id">
            <div class="dz-message needsclick smallDropzone">
                <h3 class="m-dropzone__msg-title smallDropzone NoImg-upload" *ngIf="!fileUrl">
                    <div class="drag-here">
                        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                        <p class="create">Drag your file</p>
                      </div>
                </h3>
                <div class="m-dropzone__msg-title smallDropzone" *ngIf="fileUrl">
                    <img [src]="fileUrl" (error)="previewFilNotFound()" class="img-fluid rounded-circle shadow-1 mb-3"
                        width="80" height="80" alt="">
                </div>
            </div>
        </form>
    </div>
</ng-template> -->
