@charset "utf-8";
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$AcuitySpark-primary: mat-palette($mat-indigo);
$AcuitySpark-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$AcuitySpark-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$AcuitySpark-theme: mat-light-theme($AcuitySpark-primary, $AcuitySpark-accent, $AcuitySpark-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($AcuitySpark-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$AcuitySpark-primary: mat-palette($mat-indigo);
$AcuitySpark-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$AcuitySpark-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$AcuitySpark-theme: mat-light-theme($AcuitySpark-primary, $AcuitySpark-accent, $AcuitySpark-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($AcuitySpark-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$AcuitySpark-primary: mat-palette($mat-indigo);
$AcuitySpark-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$AcuitySpark-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$AcuitySpark-theme: mat-light-theme($AcuitySpark-primary, $AcuitySpark-accent, $AcuitySpark-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($AcuitySpark-theme);

@import "../node_modules/ng-pick-datetime/assets/style/picker.min.css";
@import './assets/scss/base/grid-layout';
@import './assets/scss/vendors/normalize';
@import './assets/scss/base/variables';
@import './assets/scss/base/mixins';
@import './assets/scss/base/icons';
@import './assets/scss/base/typography';
@import './assets/scss/base/forms';
@import './assets/scss/base/header';
@import './assets/scss/base/grid';
@import './assets/scss/base/filter-fields'; 
@import './assets/scss/base/reset'; 

$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤
.body-wrapper {
  background-color: $body-color;
  padding-left: 40px;
}

.row,.container { padding: 0;}

a { cursor: pointer;}

.btn-success { 
  color: $white !important;
  margin: 0 5px;
}

.hidden { display: none;}

