<table *ngIf="csvRecords.length > 0">
  <thead>
    <tr>
      <th *ngFor="let col of targetFields">{{col}} </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let record of csvRecords;let i = index;">
      <tr *ngIf="i<=10">
        <td *ngFor="let col of targetFields"> <span>{{record[col]}}</span> </td>
      </tr>
    </ng-container>

  </tbody>
</table>

<div class="body-wrapper">
  <main id="main">
    <section class="import">
      <div class="container-fluid">
        <h1>Map Fields</h1>
        <p class="create"></p>
        <div class="filter-table">
          <div class="row">
            <div class="col-sm-5 normal-right">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Source Fields</th>
                    <th>Target Fields</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let sourceField of sourceFields ">
                    <td>{{sourceField}}</td>
                    <td>
                      <div class="dropdown" *ngIf="targetFields && targetFields.length > 0">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          {{sourceField.Selected ? sourceField.Selected : '-NA-'}}
                        </button>
                        <ng-container>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button class="dropdown-item" type="button" *ngFor="let field of targetFields"
                              (click)='onFieldChange(sourceField,field)'>{{field}}</button>
                          </div>
                        </ng-container>
                      </div>
                      <!-- <select *ngIf="targetFields && targetFields.length > 0"
                        (change)='onFieldChange(sourceField,$event.target.value)'>
                        <option [value]="-1">-NA-</option>
                        <ng-container *ngFor="let field of targetFields">
                          <ng-container *ngIf="getMappingTargetValue(sourceField) == field; else notSelected">
                            <option [value]="field" selected>{{field}}</option>
                          </ng-container>
                          <ng-template #notSelected>
                            <option [value]="field">{{field}}</option>
                          </ng-template>
                        </ng-container> 
                      </select>-->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-7 normal">
              <div class="fake-head"></div>
              <div class="table-banner">
                <div>
                  <img src="../../../assets/images/mapping_right_graphic.png" alt="table-banner">
                  <!-- <p class="create">Lorem ipsum dolor sit amet consectetur adipisicing <span class="blue"> elit.
                      Nesciunt </span> assumenda, perspiciatis, totam laborum .</p> -->
                </div>
              </div>
            </div>
          </div>
          <span class="line"></span>
          <div class="buttons">
            <a routerLink="/customer/import" class="btn btn-primary">BACK</a>
            <a class="btn btn-success" (click)="onSaveMapping()">NEXT</a>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
<app-aside [enableDedupe]="false" [enableGoldenRecord]="false" [enableHistory]="false" [enableManualReview]="false"
  [enableExport]="false">
</app-aside>
