<div class="body-wrapper">
  <div>
    <ol class="breadcrumb master">
      <li class="breadcrumb-item active"><a routerLink="/home" matTooltip="Home" matTooltipPosition="above"
          matTooltipClass="tooltip-blue-below"><i class="la la-home"></i></a></li>
      <li class="breadcrumb-item " aria-current="page">Customer Data</li>
      <li class="pull-right"><a (click)="onExportDataClick()" class="btn-grid"><i class="icon-Export"></i>EXPORT</a>
      </li>
    </ol>
  </div>
  <div class="container-fluid">
    <div class="row grid-head">
      <div class="col-sm-12">
        <app-filter (selectedFilter)="onFilterChange($event)" [isExpandable]="false"></app-filter>
      </div>
      <div class="col-sm-12">
        <div class="filter-count" [class.hide]="hide">
          Showing filtered <span>{{totalRecords | number}}</span> records of
          <span>{{totalFilteredRecords | number}}</span> records
          <!-- <a (click)="hide = !hide" class="circle-close pull-right"><i class="la la-times-circle"></i></a> -->
        </div>
      </div>
    </div>
    <div class="grid-wrapper" [class.grid-divide]="showHistory">
      <div class="grid" id="dvGrid">
        <perfect-scrollbar class="table-scroll" style="height: 100%">
          <div class="hide-div" *ngIf="!selectFiltersMain">
            <div class="inner-content">
              <p class="icon"><i class="la la-exclamation-circle"></i></p>
              <p class="h3">
                Please select filters to refine your data
              </p>
            </div>
          </div>
          <div class="hide-div" *ngIf="((selectFiltersMain && (totalRecords <= 0) && !isLoading) )" [class.none]="check">
            <div class="inner-content">
              <p class="icon"><i class="la la-exclamation-circle"></i></p>
              <p class="h3">
                No data found for the selected filter
              </p>
            </div>
          </div>

          <table mat-table class="main-grid" id="customerTable" [dataSource]="dataset">
            <ng-container *ngFor="let column of columns; let colIndex = index" [matColumnDef]="column.id">
              <th class="main-header" [class.active]="showMenuForColumn == column.id" mat-header-cell *matHeaderCellDef
                [id]="column.id" (click)="onSort($event, column.id)">
                <div class="header-menu-wrapper">
                  <a class="menu-toggle" (click)="onHeaderClick($event, column.id)"><i class="icon-filter-rules-icon"></i></a>
                  <span class="header-col"> {{column.name}} </span>
                  <ng-container *ngIf="isAsc(column.id) <= 1">
                    <i class="fa" [class.fa-caret-up]="isAsc(column.id) == 1" [class.fa-caret-down]='isAsc(column.id) == 0'
                      aria-hidden="true"></i>
                  </ng-container>
                  <div class="slick-header-menu">
                    <div #headerMenu id="headerMenu" [class.hide]="showMenuForColumn != column.id">
                      <div class="slick-header-menuitem" (click)="$event.stopPropagation();">
                        <i class="fa fa-caret-up uper-arrow" [class.left]="showChildLeft" aria-hidden="true"></i>
                        <div class="inner-search">
                          <input type="text" #filterInput [(ngModel)]="filterText" (keyup)="onFilterInputChange($event)"
                            placeholder="Search">
                          <i class="search-icon" aria-hidden="true"></i>
                        </div>
                        <div class="dropdown sub-menu" *ngIf="isRuleColumn(column.id) && isPhoneColumn(column.id)">
                          <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Format Phone
                          </a>
                          <div class="hover-menu" [class.right]="!showChildLeft" [class.left]="showChildLeft"
                            aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" (click)="addFormatPhone(column.id, phoneformatEnum.Bracket);$event.stopPropagation()">(973)
                              517 5612</a>
                            <a class="dropdown-item" (click)="addFormatPhone(column.id, phoneformatEnum.Hyphen);$event.stopPropagation()">973-517-5612</a>
                            <a class="dropdown-item" (click)="addFormatPhone(column.id, phoneformatEnum.Space);$event.stopPropagation()">973
                              517 5612</a>
                          </div>
                        </div>
                        <ng-container *ngIf="isRuleColumn(column.id) &&  isStringColumn(column.id)">
                          <a class="dropdown-item" (click)="onReplaceClick(column.id);$event.stopPropagation()">Replace</a>
                          <a class="dropdown-item" (click)="onRemoveClick(column.id);$event.stopPropagation()">Remove</a>
                          <a class="dropdown-item" (click)="addTrimRule(column.id);$event.stopPropagation()">Trim</a>
                          <a class="dropdown-item" (click)="addRemoveSpecialCharRule(column.id);$event.stopPropagation()">Remove
                            Special
                            Characters</a>
                          <div class="dropdown sub-menu">
                            <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              Change Case
                            </a>
                            <div class="hover-menu" [class.right]="!showChildLeft" [class.left]="showChildLeft"
                              aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" (click)="addToLowerRule(column.id);$event.stopPropagation()">To
                                Lower Case</a>
                              <a class="dropdown-item" (click)="addToUpperRule(column.id);$event.stopPropagation()">To
                                Upper Case</a>
                              <a class="dropdown-item" (click)="addToTitleCaseRule(column.id);$event.stopPropagation()">To
                                Title Case</a>
                              <!-- <a class="dropdown-item" (click)="addToCamelCaseRule(column.id);$event.stopPropagation()">To Camel Case</a> -->
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element[column.id] }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
          </table>
        </perfect-scrollbar>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="">
          <ul class="hide">
            <li *ngFor="let item of dataset | paginate:{itemsPerPage: defaultPageSize, currentPage:currentPage, totalItems: totalRecords}">
            </li>
          </ul>
          <pagination-controls class="page-item" maxSize="6" directionLinks="true" previousLabel="PREVIOUS" nextLabel="NEXT"
            (pageChange)="currentPage = $event; pageChanged($event)"></pagination-controls>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="pagination-dropdown align-right">
          <p class="total">{{pageDescription}}</p>
          <select [(ngModel)]="defaultPageSize" (change)="onPageSizeChange()">
            <option [value]="ps" *ngFor="let ps of pageSizes" class="dropdown-item" [class.on]="ps == defaultPageSize">
              {{ps == -1 ? 'All': ps}}</option>
          </select>
          <p class="total"> Showing {{getStartingRecord() | number}} to {{getEndingRecord() | number}} of {{getTotalRecords()}} Records
          </p>
          <input type="number" min="1"  #changePage matTooltip="Go to page" matTooltipPosition="above"
          matTooltipClass="tooltip-blue-below">
          <a class="btn btn-success" (click)="onPageChangeClick(changePage.value)">GO!</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-aside></app-aside>
<ngx-loading-bar></ngx-loading-bar>
<!-- <script>
  var table = document.getElementById('customerTable')[0];
  resizableGrid(table);
  </script> -->