<div class="body-wrapper">
  <div class="container-fluid">
    <div class="row grid-head">
      <div class="col-sm-5">
        <app-pager [pageSizes]="pageSizes" [totalPages]="10000" [defaultPageSize]="defaultPageSize"
          (pageChange)="onPageSizeChange($event)"></app-pager>
      </div>
      <div class="col-sm-7 align-right">
        <div class="playlist-button">
          <ul>
            <li><a (click)="firstPageCLick()"><i class="fa fa-step-backward" aria-hidden="true"></i></a></li>
            <li>
              <ng-container *ngIf="currentPage <= 1; else enabledPrev">
                <a class="disable">
                  <i class="fa fa-backward light-blue" aria-hidden="true"></i></a>
              </ng-container>
              <ng-template #enabledPrev>
                <a (click)="prevPageCLick()">
                  <i class="fa fa-backward light-blue" aria-hidden="true"></i></a>
              </ng-template>
            </li>
            <li>
              <ng-container *ngIf="currentPage >= totalPages; else enabledNext">
                <a class="disable"><i class="fa fa-forward light-blue" aria-hidden="true"></i></a>
              </ng-container>
              <ng-template #enabledNext>
                <a (click)="nextPageCLick()"><i class="fa fa-forward light-blue" aria-hidden="true"></i></a>
              </ng-template>
            </li>
            <li><a (click)="lastPageCLick()"><i class="fa fa-step-forward" aria-hidden="true"></i></a></li>
          </ul>
          <a class="export disable hidden" #dedupBtn data-toggle="modal" data-target="#dedupModal"></a>
          <a class="export disable hidden" #goldenBtn data-toggle="modal" data-target="#goldenModal"></a>
          <a class="export disable hidden" #goldenNBtn data-toggle="modal" data-target="#goldenNModal"></a>

          <ng-container *ngIf="isDedupRuleAdded(); else enableDedup">
            <a class="export disable" #dedupBtn (click)="onDedupeClick()"><i class="fa fa-external-link"
                aria-hidden="true"></i>Dedupe</a>
          </ng-container>
          <ng-template #enableDedup>
            <a class="export" #dedupBtn data-toggle="modal" data-target="#dedupModal" (click)="onDedupeClick()"><i
                class="fa fa-external-link" aria-hidden="true"></i>Dedupe</a>
          </ng-template>
          <!-- <ng-container *ngIf="isGoldenRuleAdded(); else enableGolden">
              <a class="export disable" #goldenBtn (click)="onGoldenRecordClick()"><i class="fa fa-external-link"
                aria-hidden="true"></i>Golden Cust</a>
            </ng-container>
            <ng-template #enableGolden>
                <a class="export" (click)="onGoldenRecordClick()" #goldenNBtn data-toggle="modal" data-target="#goldenModal"><i class="fa fa-external-link"
                  aria-hidden="true"></i>Golden Cust</a>
            </ng-template> -->
          <ng-container *ngIf="isGoldenRuleAdded(); else enableGolden">
            <a class="export disable" #goldenNBtn (click)="onGoldenRecordClick()"><i class="fa fa-external-link"
                aria-hidden="true"></i>Golden Cust</a>
          </ng-container>
          <ng-template #enableGolden>
            <a class="export" (click)="onGoldenRecordClick()" #goldenNBtn data-toggle="modal"
              data-target="#goldenNModal"><i class="icon-golden-record-icon" aria-hidden="true"></i>Golden Cust</a>
          </ng-template>
          <a class="export" (click)="onExportClick()"><i class="fa fa-external-link" aria-hidden="true"></i>Export</a>
          <a class="export" (click)="showHistory=true" [class.selected]="showHistory"><i class="fa fa-history"
              aria-hidden="true"></i>Rules</a>
        </div>
      </div>
      <div class="modal" id="dedupModal" style="background: radial-gradient(black, transparent);">
        <app-deduplicate (dedupRules)="onDedupRuleSubmit($event)"></app-deduplicate>
      </div>
      <div class="modal" id="goldenModal" style="background: radial-gradient(black, transparent);">
        <app-select-golden-cust (manualCustField)="onManualCustSelectField($event)"></app-select-golden-cust>
      </div>
      <div class="modal" id="goldenNModal" style="background: radial-gradient(black, transparent);">
        <app-golden-cust-selection (goldenCustField)="onGoldenCustSelectField($event)"></app-golden-cust-selection>
      </div>
    </div>
    <div class="grid-wrapper" [class.grid-divide]="showHistory">
      <div class="grid" id="dvGrid">
        <angular-slickgrid gridId="grid1" gridHeight="400" [columnDefinitions]="columnDefinitions"
          [gridOptions]="gridOptions" [dataset]="dataset" (onAngularGridCreated)="angularGridReady($event)"
          (sgOnCellChange)="onCellChanged($event.detail.eventData, $event.detail.args)"
          (sgOnGridStateServiceChanged)="gridStateChanged($event)"
          (sgOnClick)="onGridClicked($event.detail.eventData, $event.detail.args)"
          (sgOnHeaderContextMenu)="onHeaderContextMenu($event.detail.eventData, $event.detail.args)"
          (sgOnHeaderClick)="onHeaderCellClick($event.detail.eventData, $event.detail.args)"
          (sgOnHeaderCellRendered)="onHeaderCellRendered($event.detail.eventData, $event.detail.args)">
        </angular-slickgrid>
      </div>
      <div class="history">
        <div class="head-history">
          <a (click)="closeHistory()"><img src="../../../assets/images/close-blue-icon.svg" alt="close-button"></a>
          <h5>Rules</h5>
        </div>
        <div class="history-checks">
          <ng-container *ngFor="let rule of rules; let i= index">
            <div class="check-wrap" [class.odd]="rule.status=='Applied'">
              <div class="history-checkbox">
                <input type="checkbox" [id]="'rule' + i" [checked]="rule.isSelected"
                  (change)="onRuleSelect(rule, $event.target.checked)">
                <label [for]="'rule' + i"></label>
              </div>
              <a (click)="onRemoveRule(rule)" class="bin"><img src="../../../assets/images/bin-icon.svg"
                  alt="remove rule"></a>
              <p>{{rule.detail}}</p>
            </div>
          </ng-container>
        </div>
        <div class="history-footer">
          <a class="btn-grid" (click)="processRules()">Apply</a>
          <a class="btn-grid" (click)="closeHistory()">Cancel</a>
          <a class="btn-grid" (click)="ResetRules()">Reset Rules</a>
        </div>
      </div>
    </div>
    <div class="row grid-head bottom">
      <div class="col-sm-6">
        <app-pager [pageSizes]="pageSizes" [totalPages]="10000" [defaultPageSize]="defaultPageSize"
          (pageChange)="onPageSizeChange($event)"></app-pager>
        <!-- <div class="pagination bottom">
          <div class="dropdown">
            <button class="btn-grid dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Show Records
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <p *ngFor="let ps of pageSizes"> <a class="dropdown-item" (click)="onPageSizeChange(ps)" [class.on]="ps == defaultPageSize">{{ps == -1 ? 'All': ps}} Per Page</a></p>
            </div>
          </div>
          <p class="total"> 1024 Records</p>
        </div> -->
      </div>
      <div class="col-sm-6 align-right">
        <div class="playlist-button">
          <ul>
            <li><a (click)="firstPageCLick()"><i class="fa fa-step-backward" aria-hidden="true"></i></a></li>
            <li>
              <ng-container *ngIf="currentPage <= 1; else enabledPrevBtm">
                <a class="disable">
                  <i class="fa fa-backward light-blue" aria-hidden="true"></i></a>
              </ng-container>
              <ng-template #enabledPrevBtm>
                <a (click)="prevPageCLick()">
                  <i class="fa fa-backward light-blue" aria-hidden="true"></i></a>
              </ng-template>
            </li>
            <li>
              <ng-container *ngIf="currentPage >= totalPages; else enabledNextBtm">
                <a class="disable"><i class="fa fa-forward light-blue" aria-hidden="true"></i></a>
              </ng-container>
              <ng-template #enabledNextBtm>
                <a (click)="nextPageCLick()"><i class="fa fa-forward light-blue" aria-hidden="true"></i></a>
              </ng-template>
            </li>
            <li><a (click)="lastPageCLick()"><i class="fa fa-step-forward" aria-hidden="true"></i></a></li>
          </ul>
          <a (click)="onExportClick()" class="export"><i class="fa fa-external-link" aria-hidden="true"></i>Export</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-aside [enableDedupe]="!isDedupRuleAdded()" [enableGoldenRecord]="!isGoldenRuleAdded()" [enableHistory]="true"
  [enableManualReview]="true" [enableExport]="true" (deduplicate)="dedupBtn.click()" (goldenRule)="goldenNBtn.click()"
  (history)="showHistory=true" (manualReview)="goldenBtn.click()" (export)="onExportClick()"></app-aside>
<ngx-loading-bar></ngx-loading-bar>


<div class="slick-header-menu" [ngStyle]="{'top.px':topHeaderMenu, 'left.px':leftHeaderMenu}">
  <div class="slick-header-menuitem">
    <input type="text" (change)="alert('yes')">
    <div class="dropdown" *ngIf="showMenuForColumn == PhoneColumnId">
      <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Format Phone
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="addFormatPhone(showMenuForColumn, phoneformatEnum.Bracket)">(973) 517 5612</a>
        <a class="dropdown-item" (click)="addFormatPhone(showMenuForColumn, phoneformatEnum.Hyphen)">973-517-5612</a>
        <a class="dropdown-item" (click)="addFormatPhone(showMenuForColumn, phoneformatEnum.Space)">973 5175612</a>
      </div>
    </div>
    <ng-container *ngIf="showMenuForColumn != PhoneColumnId">

      <a class="dropdown-item" (click)="addReplaceRule(showMenuForColumn)">Replace</a>
      <a class="dropdown-item" (click)="addTrimRule(showMenuForColumn)">Trim</a>
      <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Change Case
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="addToLowerRule(showMenuForColumn)">To Lower Case</a>
          <a class="dropdown-item" (click)="addToUpperRule(showMenuForColumn)">To Upper Case</a>
          <a class="dropdown-item" (click)="addToTitleRule(showMenuForColumn)">To Title Case</a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<!-- <div id="phoneHeader" class="slick-header-menu" [ngStyle]="{'top.px':topHeaderMenu, 'left.px':leftHeaderMenu}">
  <div class="slick-header-menuitem">
    <input type="text" (change)="alert('yes')">


  </div>
</div> -->
