<div class="body-wrapper">
  <main id="main">
    <div>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="#"><i class="icon-Home"></i></a></li>
        <li class="breadcrumb-item " aria-current="page">Import File</li>
      </ol>
    </div>
    <section class="import">
      <div class="container-fluid">
        <!-- <h1 class="h2">Import your Data</h1> -->
        <!-- <p class="create">Create a project by importing data. What kinds of data files can I import?</p> -->
        <div class="import-file">
          <div class="row">
            <!-- <div class="col-sm-5 normal">
              <div class="upload">
               <img src="../../../assets/images/csv.svg" alt="upload">
                <p class="create"> . CSV</p>
                <form action="">
                  <legend></legend>
                  <fieldset>
                    <div class="f-input" [class.empty]="error">
                      <span class="file">file:</span>
                      <input id="uploadFile" />
                    </div>
                    <div class="fileUpload btn btn--browse">
                      <span>Browse</span>
                      <input id="uploadBtn" type="file" class="upload" accept=".csv" #fileInput
                        (change)="onFileUpload($event, fileInput)" />
                    </div>
                  </fieldset>
                  <div class="message" *ngIf='error'>{{error}}</div>
                </form>
              </div>
            </div>
            <div class="col-sm-1"></div> -->
            <div class="col-sm-7 auto">
              <dz-upload element_Id="csvFileDropZone" [autoProcessQueue]="false" acceptedFiles='.csv' 
                maxFiles=1
                element="#csvFileDropZone" fileCategory=1 
                (addedFile)="onFileAdd($event)"
                (success)="onSuccess($event)" 
                (error)="onError($event)"
                (removedFile)="onRemoveFile($event)"
                (complete)="onComplete($event)" title="CSV file" showPreview="true" [uploadUrl]="baseUploadUrl">
              </dz-upload>
              <!-- <div class="drag">
                <div class="drag-here">
                  <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                  <p class="create">Drag your file</p>
                </div>
              </div> -->
              <div class="upload-popup" *ngIf="customerFile" [class.failed]="uploadResponse.status === 'error'">
                <div class="popup-detail" >
                  <div class="upload-img">
                    <img src="../../../assets/images/csv-file-icon.svg" alt="csv-icon">
                  </div>
                  <div class="upload-details">
                    <p class="h5"><span class="gray"> file:</span> {{fileName}}</p>
                    <div class="progress" style="height:10px" >
                      <div class="progress-bar" [style.width.%]="progress" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                  </div>
                  <a class="close" (click)="onCancelFile()" *ngIf="!success">
                    <i [class.icon-close-blue-icon]="!success && uploadResponse.status !== 'error'" 
                    [class.fa]="success || uploadResponse.status === 'error'"
                    [class.fa-check-circle]="success && uploadResponse.status !== 'error'"
                    [class.fa-minus-circle]="uploadResponse.status === 'error'"
                    aria-hidden="true"></i>
                  </a>
                  
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="problem">
                      <p>Having problem?</p>
                      <p> Please try again or see our <a >Support</a></p>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="buttons">
                      <a class="btn btn-primary" (click)="onCancelFile()">Cancel</a> 
                      <!-- <a class="btn btn-success" (click)="uploadFile()" *ngIf="!success">OK</a> -->
                      <a class="btn btn-success" (click)="nextClick()" *ngIf="success">NEXT</a>
                    </div>
                  </div>
                </div>   
              </div>
            </div>
          </div>
          <!-- <span class="line"></span> -->
          
        </div>
      </div>
    </section>
  </main>
</div>
<app-aside [enableDedupe]="false" [enableGoldenRecord]="false" [enableHistory]="false" [enableManualReview]="false"
  [enableExport]="false">
</app-aside>
